<!DOCTYPE html><html lang="en">
    <head>  <meta charset="UTF-8">  
    <title>TM470 - Device Records App</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    </head>

    <body>
    <h2>Devices currently held in safe</h2>

      <table id="deviceTable">
        <tr>
          <tr>
            <th>Asset Number</th>
            <th>Name</th>
            <th>Organisation</th>
            <th>Line Manager</th>
            <th>Date Required</th>
          </tr>
           <!-- Loop through devices -->
           <% for (let i = 0; i < devices.length; i++) {%>
          <tr>
          <!-- Output assetTag from the iterated device object -->
          <td><%= devices[i].assetTag %></td>
          <!-- Output name from the iterated device object -->
          <td><%= devices[i].name %></td>
          <!-- Output organisation from the iterated device object -->
          <td><%= devices[i].organisation %></td>
          <!-- Output line manager from the iterated device object -->
          <td><%= devices[i].lineManager %></td>
          <!-- Output date from the iterated device object -->
          <td><%= devices[i].dateRequired %></td>
          <% } %>
        </tr>
      </table>  

        <div class="deviceListContainer">
        <button onclick="document.location='/add.ejs'">Add devices</button>
        <button onclick="document.location='/delete.ejs'">Delete devices</button>
        <button onclick="document.location='/search.ejs'">Search devices</button>
        <button onclick="document.location='/update.ejs'">Update devices</button>
        </div>
        <button onclick="document.location='/logout'">Log Out</button>
      </body>
      </html>